<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.novoda.downloadmanager.demo">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".extended.DemoApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:name="com.novoda.downloadmanager.demo.extended.MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.novoda.downloadmanager.demo.extended.pause_resume.PauseResumeActivity"
      android:label="@string/pause_resume_activity_title" />

    <activity
      android:name="com.novoda.downloadmanager.demo.extended.delete.DeleteActivity"
      android:label="@string/delete_activity_title" />

    <activity
      android:name="com.novoda.downloadmanager.demo.extended.batches.BatchesActivity"
      android:label="@string/title_activity_show_batches" />


    <activity
      android:name="com.novoda.downloadmanager.demo.extended.batches.BatchDownloadsActivity"
      android:label="@string/batches_activity_title" />

    <activity
      android:name="com.novoda.downloadmanager.demo.extended.extra_data.ExtraDataActivity"
      android:label="@string/extra_data_activity_title" />

    <meta-data
      android:name="com.novoda.downloadmanager.MaxConcurrentDownloads"
      android:value="@integer/max_concurrent_downloads" />

    <meta-data
      android:name="com.novoda.downloadmanager.DatabaseFilename"
      android:value="@string/database_filename" />

    <receiver
      android:name="com.novoda.downloadmanager.demo.extended.DownloadBatchCompletionReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="com.novoda.downloadmanager.action.BATCH_COMPLETE" />
      </intent-filter>
    </receiver>

  </application>

</manifest>
